name: Zig CI - test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install Git LFS
        run: |
          sudo apt-get update
          sudo apt-get install -y git-lfs
          git lfs install
          git lfs pull

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.16.0-dev.457+f90510b08

      - name: Print Zig version
        run: zig version

      - name: Clean Zig cache
        run: rm -rf .zig-cache

      - name: Run tests
        run: zig build test --debug-rt --summary all
